/* Centrar el título */
.titulo-ayuda {
    text-align: center;
    font-size: 8rem; /* Tamaño del texto */
    font-weight: bold;
    margin-bottom: 20px; /* Espacio abajo del título */
    color: #333; /*Color de letra */
}

/* Para leer mejor los párrafos */
p {
  font-size: 4.2rem; /* Aumenta el tamaño de la fuente para mayor comodidad */
  line-height: 1.6;  /* Mejora el espacio entre las líneas (interlineado) */
  margin-bottom: 15px; /* Agrega un espacio adecuado entre los párrafos */
  color: #333; /* Color de texto gris oscuro para mayor contraste sin ser tan duro como el negro */
  text-align: justify; /* Justifica el texto para que quede alineado en ambos márgenes */
  letter-spacing: 0.5px; /* Aumenta ligeramente el espaciado entre las letras para mejorar la lectura */
}

p:first-of-type {
  margin-top: 0; /* El primer párrafo no tendrá margen superior */
}

p:last-of-type {
  margin-bottom: 0; /* El último párrafo no tendrá margen inferior */
}