/* ===== CARRUSEL ===== */
.carrusel-section {
  width: 100%;
  max-width: 900px;
  margin: 40px auto;
  position: relative;
  overflow: hidden;
}
/* Centrar el título */
.titulo-carrusel {
    text-align: center;
    font-size: 4rem; /* Tamaño del texto */
    font-weight: bold;
    margin-bottom: 20px; /* Espacio abajo del título */
    color: #333; /*Color de letra */
}

.carrusel {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.carrusel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carrusel-item {
  min-width: 100%;
  transition: opacity 0.5s ease-in-out;
}

.carrusel-item img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
}

/* Botones de navegación */
.carrusel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 24px;
  transition: background-color 0.3s ease;
}

.carrusel-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carrusel-btn.prev {
  left: 15px;
}

.carrusel-btn.next {
  right: 15px;
}

/* Para leer mejor los párrafos */
p {
  font-size: 2.1rem; /* Aumenta el tamaño de la fuente para mayor comodidad */
  line-height: 1.6;  /* Mejora el espacio entre las líneas (interlineado) */
  margin-bottom: 15px; /* Agrega un espacio adecuado entre los párrafos */
  color: #333; /* Color de texto gris oscuro para mayor contraste sin ser tan duro como el negro */
  text-align: justify; /* Justifica el texto para que quede alineado en ambos márgenes */
  letter-spacing: 0.5px; /* Aumenta ligeramente el espaciado entre las letras para mejorar la lectura */
}

p:first-of-type {
  margin-top: 0; /* El primer párrafo no tendrá margen superior */
}

p:last-of-type {
  margin-bottom: 0; /* El último párrafo no tendrá margen inferior */
}