body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #20055b;
    padding: 20px;
    height: 138px;
}

.flag img,
.logo-header img {
    height: 150px; /*duplica el tama;o del logo*/
}

/* BotÃ³n login */
.login-button button {
    padding: 16px 32px;
    background-color: #0057a0;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 150%;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #0057a0;
}

.modal-content {
    background-color: #0057a0;
    margin: 10% auto;
    padding: 20px;
    width: 300px;
    position: relative;
}

.modal-content .close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 22px;
    cursor: pointer;
}

/* Tarjetas de talleres */
.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin-top: 40px;
    justify-content: center;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    width: 240px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f9f9f9;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;  
}
.card-content h3 {
    font-size: 1.4em; /* TÃ­tulo mÃ¡s grande */
    margin: 10px 0 5px;
}
.card:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
}

/* Banner inferior */
.banner-inferior {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #20055b;
    color: rgb(242, 246, 248); /*color de la letra*/
    padding: 40px;
    text-align: center;
    z-index: 999;
    font-size: 200%;
    
}
.scroll-text {
    white-space: nowrap;
    display: inline-block;
    padding-left: 100%;
    font-size: 1.4em; /* TamaÃ±o mayor */
    animation: scrollText 20s linear infinite;
}
@keyframes scrollText {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
/* Esto hace pausar el texto cuando se pasa el mause*/
.scroll-text:hover {
    animation-play-state: paused;
    cursor: pointer;
}

/* Banner lateral */
.vertical-banner {
    position: fixed;
    top: 178px; /* altura del header */
    bottom: 50px; /* altura del banner inferior */
    left: 0;
    width: 180px;
    background-color: #20055b;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
    z-index: 200;
    width: 180px;
}

.vertical-banner button {
    margin: 5px 0;
    background-color:#0057a0;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 150%;
}

/* BotÃ³n para ocultar banner lateral */
.toggle-banner-btn {
    position: fixed;
    bottom: 60px;
    right: 10px;
    z-index: 1000;
    background-color: #20055b;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}


/* Logo animaciÃ³n opcional */
.logo-header img.enlarged {
    transform: scale(1.9);
    transition: transform 0.3s ease;
}

/* con esto el logo ocupa toda la pantalla */
.image-overlay {
    display: none;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.85);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-overlay img {
    max-width: 90%;
    max-height: 80%;
    border-radius: 8px;
    box-shadow: 0 0 20px #000;
}

/* con esto el logo cierra la pantalla */
.close-overlay {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

/* Estilos adicionales para admin.css */

