/* Fondo modal */
.modal {
  pantalla: ninguna;
  posición: fija;
  índice z: 999;
  izquierda: 0;
  arriba: 0;
  ancho: 100%;
  altura: 100%;
  desbordamiento: automático;
  background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro semitransparente */
  relleno superior: 80px;
}

/* Contenido modal */
.contenido-modal {
  color de fondo: #ffffff;
  color: #333;
  margen:auto;
  relleno: 30px;
  radio del borde: 12px;
  ancho: 90%;
  ancho máximo: 500px;
  caja-sombra: 0 8px 30px rgba(0, 0, 0, 0.2);
  posición: relativa;
}

/*Botón Cerrar*/
.cerca {
  color: #aaa;
  posición: absoluta;
  superior: 15px;
  derecha: 20px;
  tamaño de fuente: 28px;
  peso de fuente: negrita;
  cursor: puntero;
}

.cerrar:pasar el mouse,
.cerrar:enfoque {
  color: #e74c3c;
}

/* Estilo de formulario */
forma {
  color de fondo: #f9f9f9;
  relleno: 25px;
  radio del borde: 12px;
  caja-sombra: 0 4px 15px rgba(0, 0, 0, 0.1);
  ancho máximo: 400px;
  margen: 20px automático;
  pantalla: flex;
  flexión-dirección: columna;
}

etiqueta {
  peso de fuente: negrita;
  margen inferior: 5px;
  color: #333;
}

entrada[tipo="número"],
entrada[tipo="texto"],
entrada[tipo="correo electrónico"],
entrada[tipo="tel"],
entrada[tipo="contraseña"],
entrada[tipo="fecha"],
entrada[tipo="tiempo"],
entrada[tipo="enviar"] {
  relleno: 12px;
  margen inferior: 15px;
  borde: 1px sólido #ccc;
  radio del borde: 8px;
  tamaño de fuente: 16px;
  ancho: 100%;
  tamaño de caja: caja de borde;
}

entrada[tipo="enviar"] {
  color de fondo: #007BFF;
  color: #fff;
  peso de fuente: negrita;
  transición: color de fondo 0,3 s facilidad;
}

entrada[tipo="enviar"]:hover {
  color de fondo: #0056b3;
}

/* Estilo de tabla */
mesa {
  ancho: 95%;
  margen: 30px automático;
  colapso de frontera: colapso;
  caja-sombra: 0 2px 8px rgba(0, 0, 0, 0.1);
  color de fondo: #fff;
  radio del borde: 8px;
  desbordamiento: oculto;
}

el, td {
  relleno: 15px;
  alinear texto: centro;
  borde inferior: 1px sólido #ddd;
}

el {
  color de fondo: #007BFF;
  color: blanco;
  peso de la fuente: 600;
}

tr:hover {
  color de fondo: #f1f1f1;
}

botón {
  relleno: 8px 14px;
  borde: ninguno;
  radio del borde: 6px;
  color de fondo: #28a745;
  color: blanco;
  cursor: puntero;
  tamaño de fuente: 14px;
}

botón:hover {
  color de fondo: #218838;
}

#btnCancelar {
  color de fondo: #dc3545;
}


#btnCancelar:hover {
  color de fondo: #3e3738;
}