.reservar-detalles {
  display: none;
  margin-top: 10px;
}

.reservar-detalles input,
.reservar-detalles button {
  display: inline-block;
  margin: 4px 2px;
}
.detalle-reserva {
  display: none;
  margin-top: 10px;
}

.detalle-reserva input,
.detalle-reserva button {
  display: inline-block;
  margin: 4px 2px;
}
