
.titulo-ayuda {
    text-align: center;
    font-size: 8rem; 
    font-weight: bold;
    margin-bottom: 20px; 
    color: #333; 
}

p {
  font-size: 4.2rem; 
  line-height: 1.6;  
  margin-bottom: 15px; 
  color: #333; 
  text-align: justify; 
  letter-spacing: 0.5px; 
}

p:first-of-type {
  margin-top: 0; 
}

p:last-of-type {
  margin-bottom: 0; 
}