
body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #20055b;
    padding: 20px;
    height: 138px;
}

.flag img,
.logo-header img {
    height: 150px; 
}


.login-button button,
#loginButton {
    padding: 16px 32px;
    background-color: #0057a0;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 900;
    font-size: 1.5rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.login-button button:hover,
#loginButton:hover {
    background-color: #003f75;
}


.custom-
.vertical-banner {
  pointer-events: auto;
  z-index: 10;
}


#loginButton, #userButton {
  position: relative;
  z-index: 5000;
}


.vertical-banner {
  z-index: 1000;
}


.banner-inferior {
  z-index: 900;
}

#loginModal.custom-login-modal {
  display: none;
  z-index: 6000;
  pointer-events: none; 
}

#loginModal.custom-login-modal.active {
  display: flex;
  pointer-events: all;
}

.modal-backdrop {
  z-index: 2000 !important;
  pointer-events: none; 
}
